@tailwind base;
@tailwind components;
@tailwind utilities;


.gridBorder {
    border: 1px solid darkblue;
}

.crystal {
    background-color: #00d8d2;
    height: 6px;
    rotate: 45deg;
    width: 6px;
}

body {
    overflow: hidden;

    background-color: #4a0c5f;
}